

.buttonsWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}

.inputWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50px;
    bottom: 5px;
    gap: 2px;
}

.delete {
  background: url(../../assets/basket.png) 50% 50% no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  right: 10px;
  bottom: -17px;
  background-color: white;
  border-radius: 50%;
}

.done {
    background: url(../../assets/done.png) 50% 50% no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
    right: 50px;
    bottom: -17px;
    background-color: white;
    border-radius: 50%; 
}
.edit {
    background: url(../../assets/edit.png) 50% 50% no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
    right: 90px;
    bottom: -17px;
    background-color: white;
    border-radius: 50%; 
}
.save {
    background: url(../../assets/save.png) 50% 50% no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
    right: 10px;
    bottom: -17px;
    background-color: white;
    border-radius: 50%;  
}