.task {
  border-bottom: 3px ridge rgba(202, 202, 199, 0.6);
  margin: 0 20px 25px 20px;
  position: relative;
}



.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.taskText {
  font-family: "Montserrat";
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 40px;
  padding-left: 48px;
  margin: 3px;
  background-image: url("../../assets/gal.png");
  background-position: left;
  background-size: 50px;
  background-repeat: no-repeat;
}

.taskDate {
  font-family: "Montserrat";
  font-weight: 500;
  opacity: 50%;
  font-size: 10px;
  line-height: 20px;
  padding-left: 20px;
  background-image: url("../../assets/clock.png");
  background-position: left;
  background-size: 15px;
  background-repeat: no-repeat;
  margin: 3px;
  max-height: 18px; 
}
