.form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  background-image: url("../../img/a1pMVl.jpg");
  background-size: cover;
  position: relative;
  min-width: 400px;
}

h3 {
  font-family: "Montserrat";
  font-weight: 400;
  color: white;
  font-size: 30px;
}

.taskWrapper {
  padding: 20px;
}

.taskArea {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: rgb(240, 235, 235);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 150px;
  left:10%;
  right: 10%;
  z-index: 1;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.532);
}

.taskInput {
  border: 3px solid #888;
  border-radius: 5px;
}

.taskCounter {
  width: 150px;
  box-sizing: border-box;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: auto;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

h2 {
  font-family: "Montserrat";
  font-weight: 400;
  color: white;
  font-size: 30px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

h5 {
  font-family: "Montserrat";
  font-weight: 700;
  margin: 2px;
  color: black;
  font-size: 12px;
}

.add {
  background: url(../../img/add.png) 50% 50% no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  right: 10px;
  bottom: -15px;
  background-color: aliceblue;
  border-radius: 50%;
}
